arrow==0.10.0
dj-database-url==0.4.2
Django==1.11.2
django-disqus==0.5
django-forms-bootstrap==3.1.0
django-gravatar2==1.4.0
mock==2.0.0
olefile==0.44
pbr==3.0.1
Pillow==4.1.1
psycopg2==2.7.1
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
